body{
    height:100vh;
}

main{
    width:75%;
    height:100%;
    margin:auto;
  
}
h1{
    text-align:center;
    font-weight:300;
    font-size:2rem;
}
table{
    width:1000px;
    height:680px;
    border-collapse: collapse;
    margin:auto;
}
thead{
    height:20%;
}
tbody{
    height:80%;
}
td{
    border:1px solid black;
}

th {
    color: white;
    background-color: black;
    border: 1px solid white;
}
tr{
    height:10%;
}
td,th{
    font-size:24px;
}
td{
    padding-Left:2%;
}
p{
    font-size:16px;
}

.rows {
    background-color: #eeeeee;
}

.descriptions

{
   background-color: #f5f5f5; 
}
}
}